.dpar-web {
  margin: 10vh 35vh 0 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dpar-web-div-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dpar-web-drop-div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.dpar-web-drop {
  width: 20vh;
}

.dpar-web-div1 {
  margin: 5vh 0 0 0;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dpar-web-div1-h {
  margin: 2vh 0 0 0;
  font-size: 14px;
  font-weight: 700;
}

.dpar-web-div1-p {
  margin: 2vh 0 0 0;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.dpar-web-div2 {
  margin: 5vh 0 0 5vh;
  width: 40%;
}
.dpar-web-div2-h {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}

.dpar-web-div2-combo {
  margin-bottom: 3vh;
  width: 50vh;
  background-color: white;
}

.dpar-web-div2-req {
  margin-bottom: 3vh;
  width: 50vh;
  height: 10vh;
  background-color: white;
}

.dpar-web-div2-details {
  margin-bottom: 3vh;
  font-size: 14px;
  color: gray;
}

.dpar-web-div2-div1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3vh;
}

.dpar-web-div2-div1-tag {
  cursor: pointer;
  margin: 1vh 1vh 0 0;
  border: 1px solid rgb(144, 141, 141);
  border-radius: 5px;
  padding: 0 3vh 0 3vh;
  font-size: 14px;
  background-color: rgb(243, 243, 243);
}

.dpar-web-div2-div1-tag-selected {
  background-color: black;
  color: white;
  margin: 1vh 1vh 0 0;
  border: 1px solid rgb(144, 141, 141);
  border-radius: 5px;
  padding: 0 3vh 0 3vh;
  font-size: 14px;
}

.dpar-web-div2-div1-tag-change {
  cursor: pointer;
  background-color: black;
}

.dpar-web-div2-div1-tag:hover {
  cursor: pointer;
  margin: 1vh 1vh 0 0;
  border: 1px solid rgb(0, 0, 0);
  background-color: #fff;
}

.dpar-web-div3 {
  margin: 3vh 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dpar-web-div3-b {
  margin: 3vh 0 0 0;
}

.dpar-web-div3-up {
  color: gray;
}

.dpar-web-div4 {
  margin: 3vh 0 0 0;
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
}

.dpar-web-div4-h {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
}

.dpar-web-div4-p {
  font-size: 11px;
  margin: 2vh 0 5vh 0;
  text-align: center;
}
