.preference {
  display: flex;
  margin: 10vh 25vh 10vh 25vh;
}

.preference-div1 {
  width: 20%;
}

.preference-div1-h {
  cursor: pointer;
  margin-bottom: 2vh;
}

.preference-div2 {
  width: 70%;
}
